node_modules
out/
logs/
run/
.idea/
package-lock.json
data/
.vscode/launch.json
public/electron/
pnpm-lock.yaml
server/db/config.json
vue-vben-admin/apps/web-antd/dist/
vue-vben-admin/apps/*/dist/
vue-vben-admin/packages/*/dist/
vue-vben-admin/internal/*/dist/
